body {
    padding: 100px;
}
.submit-area {
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
}

#transaction-area {
    display: none;

}
.status {
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.dep-with {
    margin: 0 20px;
    padding: 20px;
}
.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}